@font-face {
  font-family: "iconfont"; /* Project id 3811925 */
  src: url('../fonts/iconfont.woff2?t=1670314456245') format('woff2'),
       url('../fonts/iconfont.woff?t=1670314456245') format('woff'),
       url('../fonts/iconfont.ttf?t=1670314456245') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danxuanfill:before {
  content: "\e71e";
}

.icon-danxuan:before {
  content: "\e71f";
}

.icon-fangxingweixuanzhong:before {
  content: "\e720";
}

.icon-fangxingxuanzhongfill:before {
  content: "\e721";
}

.icon-fangxingxuanzhong:before {
  content: "\e722";
}

